.h2Styled {
    border-bottom: 2px solid #0070f3;
    padding-bottom: 5px;
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  
  .h3Styled {
    margin: 10px 0;
    color: #0070f3;
    font-size: 1.4rem;
  }
  